.btn-round {
  border-radius: 4px;
}

.btn-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.btn-lg.btn-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.btn-sm.btn-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.btn-float {
  position: fixed;
  bottom: 3px;
  right: 2px;
  z-index: 1000;
}

.user-card {
  display: flex;
  align-items: center;
}

.user-avatar,
[class^='user-avatar'] {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.06em;
  flex-shrink: 0;
}

.user-avatar img,
[class^='user-avatar'] img {
  border-radius: 50%;
}

.user-card .user-info {
  color: #8094ae;
}

.user-avatar + .user-info,
[class^='user-avatar'] + .user-info {
  margin-left: 1rem;
}

.lead-text {
  font-size: 0.875rem;
  font-weight: 700;
  color: #364a63;
  /* display: block; */
}

.lead-text + .sub-text {
  font-size: 12px;
}

.sub-text {
  display: block;
  font-size: 13px;
  color: #8094ae;
}
