:root {
  --bs-blue: #8520a3;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #b9b033;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.accordion-button:not(.collapsed), a {
  color: var(--bs-primary) !important;
}

.form-check-input:checked {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-primary, .bg-primary, .badge-primary {
  color: #fff;
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-round {
  border-radius: 4px;
}

.btn-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.btn-lg.btn-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.btn-sm.btn-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.btn-fab {
  position: fixed;
  bottom: 4px;
  right: 4px;
  z-index: 1000;
}

.user-card {
  display: flex;
  align-items: center;
}

.user-avatar,
[class^='user-avatar'] {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.06em;
  flex-shrink: 0;
}

.user-avatar img,
[class^='user-avatar'] img {
  border-radius: 50%;
}

.user-card .user-info {
  color: #8094ae;
}

.user-avatar + .user-info,
[class^='user-avatar'] + .user-info {
  margin-left: 1rem;
}

.lead-text {
  font-size: 0.875rem;
  font-weight: 700;
  color: #364a63;
  /* display: block; */
}

.lead-text + .sub-text {
  font-size: 12px;
}

.sub-text {
  display: block;
  font-size: 13px;
  color: #8094ae;
}
